span.rub {
    font-family: PT-Rouble-Sans, sans-serif;
}

.textBlock {
    h2 {
        margin-bottom: 4.8rem;

        @include respond-to(tablet) {
            margin-top: 2.8rem;
        }
    }

    h3 {
        margin-top: 4.8rem;
        margin-bottom: 3.2rem;

        @include respond-to(tablet) {
            margin-top: 4rem;
            margin-bottom: 2.8rem;
        }
    }

    b {
        margin-bottom: 2rem;
    }

    p {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        margin-bottom: 3.2rem;
        padding-left: 1.6rem;

        li {
            margin-bottom: .8rem;
            list-style: disc;
        }
    }
}

h1 {
    @include text(h1);
}

h2 {
    @include text(h2);
}

h3 {
    @include text(h3);
}

h4 {
    @include text(h4);
}

b {
    @include text(l1-regular);

    @include respond-to(mobile) {
        @include text(l2-regular);
    }
}
